:root {
    --background-color: #bdc3c7;
    --font-color: #130f40;

}

* {
    box-sizing: border-box;
}

h1 {
    margin-left: 16px;
    color: var(--font-color);
}

p {
    color: var(--font-color);
}

body{
    background-color: var(--background-color);
}

.cube-wrapper {
    background-color: var(--background-color);
    margin: 20px;
    position: relative;
    height: 500px;
    width: 700px;
}

.cube {
    height: 150px;
    width: 150px;
}

#c1 {
    position: absolute;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
}

.color1 {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color: rgb(236, 204, 104);
}

#c2 {
    position: relative;
    top: 300px;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
}

.color2 {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color: rgb(123, 237, 159);
}

#c3 {
    margin: 0;
    position: absolute;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
}

.color3 {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color: rgb(255, 127, 80);
}

#c4 {
    margin: 0;
    position: absolute;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
}

.color4 {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color: rgb(155, 89, 182);
}#c5 {
    margin: 0;
    position: absolute;
    left: 450px;
    display: flex;
    flex-wrap: wrap;
}

.color5 {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color: rgb(112, 161, 255);
}

#c6 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.color6 {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color:rgb(255, 107, 129);
}

.input-text {
    height: 30px;
}

.btn {
    margin: 5px;
    width: 100px;
    height: 40px;
    color: #130f40;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border-style: none;
    border-radius: 12px;
    background: #bdc3c7;
    box-shadow: inset -5px -5px 6px #a1a6a9, 
                inset 5px 5px 6px #d9e0e5;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}